@line: 2px solid grey;

.navContainer {
  margin: 10px auto;
  width: fit-content;

  border-top: @line;

  .line {
    background-color: grey;
    height: 2px;
    width: 0px;
    position: absolute;
    transition: 0.4s;
  }

  .nav {
    padding: 2px 0;
    margin-bottom: 40px;

    list-style: none;

    display: flex;
    justify-content: center;

    a {
      padding: 4px 20px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
  }
}
